// begin header 
header.header
	.container_center

		a.logo
			img(src="img/logo.png")

		// begin navbar 

		ul.navbar

			li.navbar__item
				a.navbar__link Item_1
			li.navbar__item
				a.navbar__link Item_2
			li.navbar__item
				a.navbar__link Item_3

		// end navbar 

// end header 